<!DOCTYPE html>
<html>

<head>
    <title>Portafolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

    <style>
#loader {
  position: relative;
  left: 50%;
  top: 1000%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



</style>
</head>

<body>
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#">Portafolio Personal</a>
    </nav>

    <div id="main" class="container">
        <p>
            <button type="button" class="btn btn-default" data-bind="click: beginAdd" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding" id="AddStock">Añadir activo</button>
            <button type="button" class="btn btn-danger" data-bind="click: deleteAll">Borrar todo</button>
        </p>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <h4 class="display-3" align="center">Activo</h4>
                    </th>
                    <th scope="col">
                        <h4 class="display-3" align="center">Fecha</h4>
                    </th>
                    <th scope="col">
                        <h4 class="display-3" align="center">Precio</h4>
                    </th>
                    <th scope="col">
                        <h4 class="display-3" align="center">Opciones</h4>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        <p align="center"><i data-bind="text: name"></i></p>
                    </td>
                    </td>
                    <td>
                        <p align="center"><span data-bind="text: date"></span></p>
                    </td>

                    <td>
                        <p align="center"><span data-bind="text: price"></span></p>
                    </td>

                    <td>
                        <p align="center">
                            <button type="button" data-bind="click: $parent.remove" class="btn btn-info">Borrar</button>
                        </p>
                    </td>
                </tr>

            </tbody>
        </table>
        <div id="loader" style="display:none;"></div>
    </div>
    <div id="add" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Añadir activo</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Nombre</label>
                            <input data-bind="value: name" class="form-control" type="text" id="inputName" placeholder="Nombre del activo" style="width: 150px;">
                        </div>

                        <div class="form-group">
                            <label for="inputDate" class="col-sm-2 control-label">Fecha</label>
                            <input data-bind="value: date" class="form-control" type="date" id="inputDate" placeholder="aaaa-mm-dd" style="width: 150px;">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-bind="click: addStock" class="btn btn-primary">Añadir Activo</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js'></script>


    <script type="text/javascript">
        function StockViewModel() {
        var self = this;
        self.URI = '../stock';
        self.username = "user";
        self.password = "123";
        self.stock_array = ko.observableArray();

        self.ajax = function(uri, method, data) {
            var request = {
                url: uri,
                type: method,
                contentType: "application/json",
                accepts: "application/json",
                cache: false,
                dataType: 'json',
                data: JSON.stringify(data),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("Authorization",
                        "Basic " + btoa(self.username + ":" + self.password));
                },
                error: function(jqXHR) {
                    console.log("ajax error " + jqXHR.status);

                    document.getElementById("loader").style.display = "none";

                    alert("Nombre erroneo del activo")
                }
            };
            return $.ajax(request);
        }

        self.beginAdd = function() {
            $('#add').modal('show');
        }
        self.add = function(task) {
            self.ajax(self.URI, 'POST', task).done(function(data) {
                self.stock_array.push({
                    name: ko.observable(data.AtivoNome),
                    date: ko.observable(data.DataPreco),
                    price: ko.observable(data.Preco),
                });


                document.getElementById("loader").style.display = "none";
            });
        }

        self.remove = function(stock) {
            self.stock_array.remove(stock);
        }

        self.deleteAll = function() {
           self.stock_array.removeAll();
        }
    }

    function AddStockViewModel() {
        var self = this;

        self.name = ko.observable("GOOGL");
        self.date = ko.observable("2018-07-06");

        self.addStock = function() {
            $('#add').modal('hide');

            document.getElementById("loader").style.display = "block";

            to_add = {
                AtivoNome: self.name(),
                DataPreco: self.date()
            }

            StockViewModel.add(to_add);


            self.name("GOOGL");
            self.date("2019-03-20");
        }
    }

    var StockViewModel = new StockViewModel();
    var addStockViewModel = new AddStockViewModel();
    ko.applyBindings(StockViewModel, $('#main')[0]);
    ko.applyBindings(addStockViewModel, $('#add')[0]);

    </script>
</body>

</html>
